.box-dash {
  background-image: repeating-linear-gradient(
      90deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      180deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      90deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 20px
    ),
    repeating-linear-gradient(
      180deg,
      #000000,
      #000000 12px,
      transparent 12px,
      transparent 20px
    );
  background-position: left top, right top, left bottom, left top;
  background-repeat: repeat-x, repeat-y, repeat-x, repeat-y;
  background-size: 100% 2px, 2px 100%, 100% 2px, 2px 100%;
}
